<div class='card'>
  <section class='card-body'>
    <h1 class='p-4'>Notes app</h1>
    <p class='p-3'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <button class='btn btn-primary p-2 m-3'>FaztWeb</button>
  </section>
</div>
